@block btn
    background-color: red
    border: .0625rem solid black
    color: black

    @element icon
        color: white

    @modifier transparent
        background-color: transparent
        border-color: transparent
        